main.haml
<!doctype html>
/[if lt IE 7 ] <html class="ie ie6 nojs">
/[if IE 7 ] <html class="ie ie7 nojs">
/[if IE 8 ] <html class="ie ie8 nojs">
/[if IE 9 ] <html class="ie ie9 nojs">
/ [if gt IE 9]<!--><html class="nojs"><!--

%head
    %meta{:charset => "utf-8"}/
    %title
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "css/style.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    
    /[if lt IE 9]
        %script{:type => "text/javascript"}
            "'header footer nav hgroup aside section article'".replace(/\w+/g,function(n){document.createElement(n)})
 
%body
    
    .wrapper

        %header{:id => "mainheader"}
            %a{:href => "/", :class => "brand", :title => "KosarevPro"}
                %img{:src => "img/img.logo.png"}
            %nav
                %a{:href => "#"} Все записи
                %a{:href => "#"} Видео
                %a{:href => "#"} Фото
                %a{:href => "#"} Контакты
                .resume{}
                    %span Резюме
                    %a{:href => "#", :title => "Pdf"} Pdf 
        
        #maincontent
            %article{:class => "short style1"}
                %img{:src => "img/img.article.1.jpg", :alt => ""}
                %time Февраль 16, 2013  
                %a{:href => "#", :class => "title", :title => ""} Harlem<br/> Shake<br/> Portal
                .meta
                    %a{:href => "#", :class => "comments", :title => ""} 
                        комментарий 
                        %span 5+
                    %a{:href => "#", :class => "like", :title => ""} Мне нравится 
                    %a{:href => "#", :class => "share", :title => ""} Поделиться   
                %a{:href => "#", :class => "more", :title => ""} Play    

            %article{:class => "short style2"}
                %img{:src => "img/img.article.2.jpg", :alt => ""}
                %time Февраль 16, 2013  
                %a{:href => "#", :class => "title _jsTitle", :title => ""}
                    %h2 Photo Shoot
                    %h3 februality elements
                .meta
                    %a{:href => "#", :class => "comments", :title => ""} 
                        комментарий 
                        %span 5+
                    %a{:href => "#", :class => "like", :title => ""} Мне нравится 
                    %a{:href => "#", :class => "share", :title => ""} Поделиться   
                %a{:href => "#", :class => "more", :title => ""} 3+   

            %article{:class => "short style3"}
                %img{:src => "img/img.article.3.png", :alt => ""}
                %time Февраль 16, 2013  
                %a{:href => "#", :class => "title", :title => ""} Gangnam <br/> Style cover
                .meta
                    %a{:href => "#", :class => "comments", :title => ""} 
                        комментарий 
                        %span 5+
                %a{:href => "#", :class => "more", :title => ""} Play

            %article{:class => "short style4"}
                
                %time Январь 16, 2013  
                %a{:href => "#", :class => "title", :title => ""}
                    %h2 Если
                    %p  Если вы считаете свою девушку толстой, попросите ее проходить по пять километров утром и по пять километров вечером. К вечеру пятого дня она будет в пятидесяти километрах от вашего дома. 
                .meta
                    %a{:href => "#", :class => "comments", :title => ""} 
                        комментарий 
                        %span 5+
                    %a{:href => "#", :class => "like", :title => ""} Мне нравится 
                    %a{:href => "#", :class => "share", :title => ""} Поделиться

            %article{:class => "short style5"}
                %img{:src => "img/img.article.5.jpg", :alt => ""}
                %time Январь 16, 2013  
                %a{:href => "#", :class => "title", :title => ""}
                    %h2 PROCRASTINATION 
                    %h3  The<br/> Musical
                .meta
                    %a{:href => "#", :class => "comments", :title => ""} 
                        комментарий 
                        %span 5+
                    %a{:href => "#", :class => "like", :title => ""} Мне нравится 
                    %a{:href => "#", :class => "share", :title => ""} Поделиться
                %a{:href => "#", :class => "more", :title => ""} Play
        
            .pagination
                %a{:href => "#1", :title => ""} 01
                %a{:href => "#2", :title => "", :class => "sel"} 02
                %a{:href => "#3", :title => ""} 03
                %a{:href => "#4", :title => ""} 04
                %span ...
                %a{:href => "#76", :title => ""} 76
                %a{:href => "#76", :title => "", :class => "next"} Следующая страница
                
                    
        #mainfooter
            %p &copy; Kosarev.pro. Крутая надпись маленькими буквами должна быть у каждого сайта.
        
            
%script{:src => "//code.jquery.com/jquery-latest.min.js", :type => "text/javascript"}
%script{:src => "js/common.js", :type => "text/javascript"}

main.html
<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6 nojs"> <![endif]-->
<!--[if IE 7 ]> <html class="ie ie7 nojs"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8 nojs"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9 nojs"> <![endif]-->
<!--[if gt IE 9]> <!--><html class="nojs"><!-- <![endif]-->
<head>
  <meta charset='utf-8'>
  <title></title>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <link href='css/style.css' media='screen' rel='stylesheet' type='text/css'>
  <!--[if lt IE 9]>
    <script type='text/javascript'>
      "'header footer nav hgroup aside section article'".replace(/\w+/g,function(n){document.createElement(n)})
    </script>
  <![endif]-->
</head>
<body>
  <div class='wrapper'>
    <header id='mainheader'>
      <a class='brand' href='/' title='KosarevPro'>
        <img src='img/img.logo.png'>
      </a>
      <nav>
        <a href='#'>Все записи</a>
        <a href='#'>Видео</a>
        <a href='#'>Фото</a>
        <a href='#'>Контакты</a>
        <div class='resume'>
          <span>Резюме</span>
          <a href='#' title='Pdf'>Pdf</a>
        </div>
      </nav>
    </header>
    <div id='maincontent'>
      <article class='short style1'>
        <img alt='' src='img/img.article.1.jpg'>
        <time>Февраль 16, 2013</time>
        <a class='title' href='#' title=''>Harlem<br/> Shake<br/> Portal</a>
        <div class='meta'>
          <a class='comments' href='#' title=''>
            комментарий
            <span>5+</span>
          </a>
          <a class='like' href='#' title=''>Мне нравится</a>
          <a class='share' href='#' title=''>Поделиться</a>
        </div>
        <a class='more' href='#' title=''>Play</a>
      </article>
      <article class='short style2'>
        <img alt='' src='img/img.article.2.jpg'>
        <time>Февраль 16, 2013</time>
        <a class='title _jsTitle' href='#' title=''>
          <h2>Photo Shoot</h2>
          <h3>februality elements</h3>
        </a>
        <div class='meta'>
          <a class='comments' href='#' title=''>
            комментарий
            <span>5+</span>
          </a>
          <a class='like' href='#' title=''>Мне нравится</a>
          <a class='share' href='#' title=''>Поделиться</a>
        </div>
        <a class='more' href='#' title=''>3+</a>
      </article>
      <article class='short style3'>
        <img alt='' src='img/img.article.3.png'>
        <time>Февраль 16, 2013</time>
        <a class='title' href='#' title=''>Gangnam <br/> Style cover</a>
        <div class='meta'>
          <a class='comments' href='#' title=''>
            комментарий
            <span>5+</span>
          </a>
        </div>
        <a class='more' href='#' title=''>Play</a>
      </article>
      <article class='short style4'>
        <time>Январь 16, 2013</time>
        <a class='title' href='#' title=''>
          <h2>Если</h2>
          <p>Если вы считаете свою девушку толстой, попросите ее проходить по пять километров утром и по пять километров вечером. К вечеру пятого дня она будет в пятидесяти километрах от вашего дома.</p>
        </a>
        <div class='meta'>
          <a class='comments' href='#' title=''>
            комментарий
            <span>5+</span>
          </a>
          <a class='like' href='#' title=''>Мне нравится</a>
          <a class='share' href='#' title=''>Поделиться</a>
        </div>
      </article>
      <article class='short style5'>
        <img alt='' src='img/img.article.5.jpg'>
        <time>Январь 16, 2013</time>
        <a class='title' href='#' title=''>
          <h2>PROCRASTINATION</h2>
          <h3>The<br/> Musical</h3>
        </a>
        <div class='meta'>
          <a class='comments' href='#' title=''>
            комментарий
            <span>5+</span>
          </a>
          <a class='like' href='#' title=''>Мне нравится</a>
          <a class='share' href='#' title=''>Поделиться</a>
        </div>
        <a class='more' href='#' title=''>Play</a>
      </article>
      <div class='pagination'>
        <a href='#1' title=''>01</a>
        <a class='sel' href='#2' title=''>02</a>
        <a href='#3' title=''>03</a>
        <a href='#4' title=''>04</a>
        <span>...</span>
        <a href='#76' title=''>76</a>
        <a class='next' href='#76' title=''>Следующая страница</a>
      </div>
    </div>
    <div id='mainfooter'>
      <p>&copy; Kosarev.pro. Крутая надпись маленькими буквами должна быть у каждого сайта.</p>
    </div>
  </div>
</body>
<script src='//code.jquery.com/jquery-latest.min.js' type='text/javascript'></script>
<script src='js/common.js' type='text/javascript'></script>
